SELECT PWD.[EMPLID]
      ,PWD.[EFFDT]
      ,PWD.[EFFSEQ]
      ,PWD.[DEPTID]
      ,PWD.[JOBCODE]
      ,PWD.[EMPL_STATUS]
      ,PWD.[ACTION]
      ,PWD.[ACTION_DT]
      ,PWD.[LOCATION]
      ,PWD.[JOB_ENTRY_DT]
      ,PWD.[DEPT_ENTRY_DT]
      ,PWD.[POSITION_ENTRY_DT]
      ,PWD.[FULL_PART_TIME]
      ,PWD.[BUSINESS_UNIT]
      ,PWD.[HIRE_DT]
      ,PWD.[LAST_HIRE_DT]
      ,PWD.[TERMINATION_DT]
      ,PWD.[ASGN_START_DT]
      ,PWD.[LST_ASGN_START_DT]
      ,PWD.[ASGN_END_DT]
      ,PWD.[LAST_DATE_WORKED]
      ,PWD.[CostCenterID]
FROM [HRPreWD].[dbo].[PS_JOB] PWD
WHERE PWD.[ACTION] IN ('PRO','POS')
	AND PWD.EMPLID = 062442
ORDER BY PWD.EMPLID, PWD.EFFDT DESC

SELECT HR.[EMPLID]
	  ,HR.[EFFDT]
	  ,HR.[EFFSEQ]
	  ,HR.[DEPTID]
	  ,HR.[JOBCODE]
	  ,HR.[EMPL_STATUS]
      ,HR.[ACTION]
	  ,HR.[ACTION_DT]
	  ,HR.[LOCATION]
	  ,HR.[JOB_ENTRY_DT]
	  ,HR.[DEPT_ENTRY_DT]
	  ,HR.[POSITION_ENTRY_DT]
	  ,HR.[FULL_PART_TIME]
	  ,HR.[BUSINESS_UNIT]
	  ,HR.[HIRE_DT]
	  ,HR.[LAST_HIRE_DT]
	  ,HR.[TERMINATION_DT]
	  ,HR.[ASGN_START_DT]
	  ,HR.[LST_ASGN_START_DT]
	  ,HR.[ASGN_END_DT]
	  ,HR.[LAST_DATE_WORKED]
	  ,HR.[CostCenterID]
FROM [HR].[dbo].[PS_JOB] HR
WHERE HR.[ACTION] IN ('PRO','POS')
	AND HR.EMPLID = 062442
ORDER BY HR.EMPLID, HR.EFFDT DESC

SELECT PWD.[EMPLID]
      ,PWD.[EFFDT]
      ,PWD.[EFFSEQ]
      ,PWD.[DEPTID]
      ,PWD.[JOBCODE]
      ,PWD.[EMPL_STATUS]
      ,PWD.[ACTION]
      ,PWD.[ACTION_DT]
      ,PWD.[LOCATION]
      ,PWD.[JOB_ENTRY_DT]
      ,PWD.[DEPT_ENTRY_DT]
      ,PWD.[POSITION_ENTRY_DT]
      ,PWD.[FULL_PART_TIME]
      ,PWD.[BUSINESS_UNIT]
      ,PWD.[HIRE_DT]
      ,PWD.[LAST_HIRE_DT]
      ,PWD.[TERMINATION_DT]
      ,PWD.[ASGN_START_DT]
      ,PWD.[LST_ASGN_START_DT]
      ,PWD.[ASGN_END_DT]
      ,PWD.[LAST_DATE_WORKED]
      ,PWD.[CostCenterID]
	  ,HR.[EMPLID]
	  ,HR.[EFFDT]
	  ,HR.[EFFSEQ]
	  ,HR.[DEPTID]
	  ,HR.[JOBCODE]
	  ,HR.[EMPL_STATUS]
      ,HR.[ACTION]
	  ,HR.[ACTION_DT]
	  ,HR.[LOCATION]
	  ,HR.[JOB_ENTRY_DT]
	  ,HR.[DEPT_ENTRY_DT]
	  ,HR.[POSITION_ENTRY_DT]
	  ,HR.[FULL_PART_TIME]
	  ,HR.[BUSINESS_UNIT]
	  ,HR.[HIRE_DT]
	  ,HR.[LAST_HIRE_DT]
	  ,HR.[TERMINATION_DT]
	  ,HR.[ASGN_START_DT]
	  ,HR.[LST_ASGN_START_DT]
	  ,HR.[ASGN_END_DT]
	  ,HR.[LAST_DATE_WORKED]
	  ,HR.[CostCenterID]
FROM [HRPreWD].[dbo].[PS_JOB] PWD
INNER JOIN [HR].[dbo].[PS_JOB] HR
	ON PWD.[EMPLID] = HR.[EMPLID]
	AND PWD.[EFFDT] = HR.[EFFDT]
	AND PWD.[ACTION] = HR.[ACTION]
WHERE PWD.[ACTION] IN ('PRO','POS')
	AND PWD.EFFDT > '2008-01-01'
	--AND PWD.LOCATION <> HR.LOCATION
	--AND PWD.DEPTID <> HR.DEPTID
	--AND PWD.CostCenterID <> HR.CostCenterID
	AND PWD.JOBCODE <> HR.JOBCODE
	--AND PWD.EMPLID = 062442
ORDER BY PWD.EMPLID, PWD.EFFDT DESC