-- Enterprise Order Validation
SELECT TOP 10 'ENT Order',*
FROM [DW_to_Enterprise].[Enterprise].[dbo].[Order] WITH (NOLOCK)
ORDER BY ModifiedDate DESC

SELECT 'ENT Orderline',*
FROM [DW_to_Enterprise].[Enterprise].[dbo].[OrderLine] WITH (NOLOCK)
WHERE OrderId IN 
(
'EC8766BA-667B-E611-8125-00155D35EC26'
,'400EB371-667B-E611-8125-00155D35EC26'
,'299867F7-657B-E611-8125-00155D35EC26'
,'3E0A2F7C-657B-E611-8125-00155D35EC26'
)

SELECT 'ENT Orderline_Location',*
FROM [DW_to_Enterprise].[Enterprise].[dbo].[OrderLine_Location] WITH (NOLOCK)
WHERE OrderlineId IN 
(
'8084A5B3-657B-E611-8125-00155D35EC26'
,'FAF0B002-667B-E611-8125-00155D35EC26'
,'E624931E-667B-E611-8125-00155D35EC26'
,'7AFE4295-667B-E611-8125-00155D35EC26'
,'71CEB9C9-667B-E611-8125-00155D35EC26'
,'18657FDB-667B-E611-8125-00155D35EC26'
)