-- OLP Order Validation
SELECT 'ENT OrderLinePricingQueue',*
FROM [DW_to_Enterprise].[Enterprise].[Audit].[OrderLinePricingQueue]
WHERE OrderlineId IN
(
'8084A5B3-657B-E611-8125-00155D35EC26'
,'FAF0B002-667B-E611-8125-00155D35EC26'
,'E624931E-667B-E611-8125-00155D35EC26'
,'7AFE4295-667B-E611-8125-00155D35EC26'
,'71CEB9C9-667B-E611-8125-00155D35EC26'
,'18657FDB-667B-E611-8125-00155D35EC26'
)
ORDER BY ModifiedDate

SELECT 'DW OLP',*
FROM [NCM_DataWarehouse].[ENT].[OrderlinePricing] WITH (NOLOCK)
WHERE OrderLineSecondaryId IN 
(
793943
,793944
,793945
,793946
,793947
,793948
)

SELECT 'DW OLP_Audit',*
FROM [NCM_DataWarehouse].[ENT].[OrderLinePricing_Audit] WITH (NOLOCK)
WHERE OrderLineSecondaryId IN 
(
793943
,793944
,793945
,793946
,793947
,793948
)